.nav {
  text-align: left;
}

.nav a {
  color: #B7988A;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 2em;
  padding-right: 5em;
}

.nav li {
  display: inline;
}

body {
  background-color: #D8E4D4;
}
.jumbotron h1 {
  color: #F5EBCC;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Shift', sans-serif;
}

.jumbotron p {
  color: #B7988A;
  font-size: 20px;
}
.container ul {
  background-color: #F5EBCC;
  padding-bottom: 2%;
  padding-top: 2%;
}

